/**
 * List style
 *
 * @project     Replace smileys (userscript)
 * @author      Jakub Hořák <kub4jz@gmail.com>
 */

*{ margin: 0; padding: 0; }

::-webkit-scrollbar {
    background-color: white;
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid rgba(85, 85, 85, .6);
    height: 5px;
    -webkit-border-radius: 6px;
}

body {
    background-color: #FFF;
    color: #333;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 1;
}

a { color: #3B5998; text-decoration: none; }
a:hover { text-decoration: underline; }

#wrapper {
    height: 400px;
    overflow: hidden;
    padding: 32px 0 42px;
    position: relative;
    width: 400px;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
}

.inner {
    margin: 0 auto;
    max-width: 400px;
}

/**
 * Header
 */
#header {
    background-color: #6D84B4;
    border: 1px solid #3B5998;
    border-bottom: none;
    display: block;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    width: 398px;
    z-index: 101;
    -webkit-border-radius: 3px 3px 0 0;
}

h1 {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
}

/**
 * Content
 */
#content {
    height: 100%;
    margin: 0 2px 0 7px;
    overflow: auto;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
}

table { border-collapse: collapse; border-spacing: 0; }

.table-list {
    margin: 0 auto;
    width: 100%;
}

.table-list th,
.table-list td {
    border-bottom: 1px solid #E9E9E9;
    padding: 6px 6px;
    text-align: left;
}

.table-list th {
    border-color: #AAAAAA;
    padding: 8px 6px;
}

.table-list tr:last-child td {
    border-bottom: none;
}

.gm_smiley {
    height: 16px;
    margin: 0 11px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}

.gm_smiley.smiley {
    background-image: url("http://static.ak.fbcdn.net/images/emote/emote.gif");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

code {
    background-color: #EFEFEF;
    border-radius: 2px;
    margin-right: 8px;
    padding: 1px 3px;
    text-shadow: 1px 1px 0 #FFF;
    -webkit-transition: .2s ease-out background;
}

code:hover {
    box-shadow: 0 0 6px #999;
    color: #111;
}

code:active {
    background-color: #FFF8CC;
}

/**
 * Footer
 */
#footer {
    background-color: #F2F2F2;
    border-top: 1px solid #CCC;
    border-radius: 0 0 3px 3px;
    height: 20px;
    line-height: 20px;
    padding: 8px 8px 9px;
    position: fixed;
    bottom: 0;
    width: 384px;
}

#version { float: right; }
